body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
main {
  text-align: center;
}
.inventors,
.people {
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 192, 203, 0.767)
}
.inventors div,
.people div {
  background: #fff5c0;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;

}

button {
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  margin: 20px auto;
}

.fancy-button,
.fancy-button:link,
.fancy-button:visited {
  color: #333;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  min-width: 100px;
  max-width: 60%;
  height: 45px;
  position: relative;
  margin: 0 auto;
  border: 2px solid transparent;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.fancy-button:after,
.fancy-button:before {
  content: "";
  position: absolute;
  left: -1em;
  top: -2px;
  height: 3.3em;
  width: 0;
  border: 1px solid #c75842;
  transition: inherit;
}

.fancy-button:after {
  left: auto;
  right: -1em;
}

.fancy-button:hover {
  border-color: #c75842;
  transition: border-color 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.fancy-button:after,
.fancy-button:before {
  right: -2px;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.fancy-button:before {
  left: -2px;
  right: auto;
}

#button,
#button:link,
#button:visited {
  background-color: #5b657c;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  transition-property: transform;
  transform: translateZ(0);
  transition: box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
}
#button:hover {
  box-shadow: 0 0 0 28px rgba(0, 0, 0, 0.25) inset;
}

#button:active {
  transform: translateY(3px);
}

.container{
  min-height: 400px;
  height: 100%;
  background-color: #40e0d07d;
}

.error{
  font-weight: bold;
  color: #c75842;
}

#search{
  width: 50%;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid grey;
    font-size: 1.5rem;
}